*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: #061b39;
    color: aliceblue;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 960px;
    margin-inline: auto;
    position: relative;
    flex-wrap: nowrap;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    padding: 30px;
    padding-top: 2em;
    border: solid;
    border-color: grey;
    min-width: 500px;
    
}

.header-left {
    display: grid;
    grid-gap: 1em;
    font-size: 1.5em;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: center;
}

.header-left img {
    width: 2.5em;
}


.header-label {
    display: flex;
    font-weight: 600;
}

.header-right {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    flex-shrink: 1;
}
.contact-section{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}
.header-social {
padding-right: 1em;
padding-left: 1em;
}

.header-social a{
font-size: 1.2em;
text-decoration: none;
color: aliceblue;
}


.header-phone a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}
.header-phone {
    font-weight: 800;
}

.menu-button img{
    filter: invert();
    height: 2em;
    width: 5em;
}



main{
    display: flex;
    margin-top: 2em;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: grey;
    
}
.main-container{
    display: flex;
}

.main-container ul{
    list-style: none;
}
footer{
    margin-top: 2em;
    border: solid;
    border-color: grey
}